streamlit
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-google-genai
pypdf
docx2txt
sentence-transformers
torch
torchvision
langchain-groq
groq